{{#each masters}}
  <div class='name'>{{this.name}}</div>
  {{#each this.tokens}}
    <div>{{this.tokenName}}</div>
    <div>{{this.tokenDisplayName}}</div>
    <div>{{this.tokenDescription}}</div>
    <div>{{this.tokenCode}}</div>
  {{/each}}
  <div>{{this.tagDescription}}</div>
  <div>{{this.nonApprovedCode}}</div>
{{/each}}

<div class="button">Click me</div>

<script>
var text = $('.name').text();
console.log(text);
  $('.button').on("click", function(e) {
    e.preventDefault();
    $.ajax('http://localhost:4001/approve', {
      method: "POST",
      success: function() {
        console.log("WORKEDDDDDDD HAY")
      }
    })
  })
</script>
